h1{
    font-size: 50px;
    
}
body{
    font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 85%;
    padding-top: 38%;

}
.half-width p{
    width: 80%;
    font-size: 13px;
}
.hire-me-now{
    text-decoration: none;
    background-color:  rgb(75, 155, 247);
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
}