h1{
    font-size: 50px;
    
}
body{
    font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0px;
}
.orange-color{
    color: #ffa500;
}
.flexi{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 85%;
    padding-top: 38%;

}
.half-width p{
    width: 80%;
    font-size: 13px;
}
.hire-me-now{
    text-decoration: none;
    background-image: linear-gradient(#6e7dfd, #2248c5);  
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
    font-weight: 700;
}
.top-sec-1{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 5%;

}
.h1-title{
    font-weight: 700;
    font-size: 300%;
    padding-left: 10%;
}
.author{
    color: #ffa500;
}
.coffe-title{
    font-weight: 700;
    font-size: 180%;
}
.big-text{
    color: orange;
}
.coffe-img{
    width: 150%;
}
.sec-2n-div{
    padding-left: 10%;
    padding-right: 5%;
}
.coffe{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.ex-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;

}
.ex-title{
    font-size: 230%;
}
.ex{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#baccha-khadok{
    border-image: linear-gradient( blue, red);
    border-image-slice: 1%;
    border-left: 7px solid;
}
#full-khadok{
    border-image: linear-gradient( blue, red);
    border-image-slice: 1%;
    border-left: 7px solid;

}